<h1><%= @place.name %></h1>

<h2>My Posts</h2>
<% for post in @place.posts.where({ user_id: session[:user_id] }) %>
  <h3><%= post.title %></h3>
  <h4><%= post.posted_on %></h4>
  <p><%= post.description %></p>
       <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post.uploaded_image %>" class="img-fluid">
      <% end %>

<% end %>

<p>
  <a class="btn btn-primary" href="/posts/new?place_id=<%= @place.id %>" role="button">New Post</a>
</p>

<p>
  
  <a class="btn btn-primary" href="/places" role="button">Back to All Places</a>
</p>

   




